<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TVServerBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TVServerBrowser.Properties.Settings>
            <setting name="useConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
        </TVServerBrowser.Properties.Settings>
    </userSettings>
</configuration>
